/* the whole app layout  */

.App {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: auto, repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  grid-template-columns: minmax(200px, 1fr);
  max-width: 100%;
}
/* .App {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 95%;
  height: 100%;
  transform: translate( -50%, -50% );
} */

/* the whole app layout  */

/* ///////////// */

/* WHOLE APP */
/* WHOLE APP */
/* WHOLE APP */
/* WHOLE APP */
/* WHOLE APP */
.HeaderContainer {
  grid-area: 1 / 1 / 2 / 2;
  display: inline-block;
}
.ProductOverviewContainer {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.div5 {
  grid-area: 5 / 1 / 6 / 2;
}
.div6 {
  grid-area: 6 / 1 / 7 / 2;
}
/* WHOLE APP */

/* Header */

/* .HeaderContainer {
  max-height: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
} */

/* /////////////////////// */

/* Product overview main compoent*/
.ProductOverviewContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* MainImageGalleryContainer PARENT ///////////////*/

.MainImageGalleryContainer {
  grid-area: 1 / 1 / 8 / 2;
}
.MainImageGalleryContainer {
  max-width: 100%;

  display: grid;
  grid-template-columns: 3fr 2fr 11fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.thumbnail_url_container {
  grid-area: 1 / 1 / 2 / 2;
}
.LeftArrow {
  grid-area: 1 / 2 / 2 / 3;
}
.MainImg {
  grid-area: 1 / 3 / 2 / 4;

  /* padding-left: 8%;
  padding-right: 8%; */
}
.ExpandButton {
  grid-area: 1 / 4 / 2 / 5;
}
.RightArrow {
  grid-area: 1 / 5 / 2 / 6;
}

/* MainImageGalleryContainer PARENT ///////////////*/

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}
.div4 {
  grid-area: 3 / 2 / 4 / 3;
}
.div5 {
  grid-area: 4 / 2 / 6 / 3;
}
.div6 {
  grid-area: 6 / 2 / 7 / 3;
}
.div7 {
  grid-area: 7 / 2 / 8 / 3;
}
.div8 {
  grid-area: 8 / 1 / 10 / 3;
}

.MainThumbNails {
  /* width: 80px;
  height: 80px; */
}

.MainGalleryThumbNail {
}

/* Product overview main compoent*/
