/* the whole app layout  */

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* the whole app layout  */

/* ///////////// */

/* Product overview main compoent*/
.ProductOverviewContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 7px;
  grid-row-gap: 0px;
}

.MainImageGalleryContainer {
  grid-area: 1 / 1 / 8 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}
.div4 {
  grid-area: 3 / 2 / 4 / 3;
}
.div5 {
  grid-area: 4 / 2 / 6 / 3;
}
.div6 {
  grid-area: 6 / 2 / 7 / 3;
}
.div7 {
  grid-area: 7 / 2 / 8 / 3;
}
.div8 {
  grid-area: 8 / 1 / 10 / 3;
}

/* Product overview main compoent*/
